.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: 3s;
}
.ex-1-square:hover {
  background-color: red;
}
.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: 3s;
}
.ex-2-square:active {
  width: 100%;
}
.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: 4s;
}
.ex-3-square:hover {
  border-radius: 50%;
}
.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: 4s;
}
.ex-4-square:hover {
  opacity: 0%;
}
.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
  transition: 4s;
}
.ex-5-square:hover {
  transform: scale(2);
}
.ex-6-img,
.ex-7-img,
.ex-8-img {
  width: 500px;
}
.ex-6-img:hover {
  filter: saturate(0);
}
.ex-7-img {
  transition: 4s;
}
.ex-7-img:hover {
  filter: saturate(0);
  transform: rotate(360deg);
}
.ex-8-img {
  transition: 4s;
}
.ex-8-img:hover {
  filter: saturate(0);
  opacity: 0.5;
  border-radius: 10%;
}

.ex-9-img {
  margin: 50px 100px;
  width: 400px;
  transition: 4s;
}
.ex-9-img:hover {
  filter: sepia(1);
  filter: brightness(4);
  transform: scale(1.5);
}
.ex-10-icon {
  font-size: 60px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(1turn);
  }
}
.ex-11-icon {
  font-size: 60px;
}
.ex-11-icon:hover {
  animation: rotate3-4 4s linear;
}
@keyframes rotate3-4 {
  0% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(0);
  }
}
.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}
.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
  animation: quadratoTop 4s linear;
}
@keyframes quadratoTop {
  0% {
    left: 25%;
  }
  50% {
    left: calc(100% - 60px);
  }
  100% {
    left: 5%;
  }
}
.ex-12-button:hover .ex-12-bottom-white {
  animation: quadratoInf 4s linear;
}
@keyframes quadratoInf {
  0% {
    right: 20%;
  }
  50% {
    right: calc(100% - 60px);
  }
  100% {
    right: 20%;
  }
}

.ex-13-button:hover .ex-13-top-white {
  animation: TopFull 4s linear;
}
@keyframes TopFull {
  0% {
    left: 10%;
    top: -10px;
  }
  25% {
    left: calc(100% - 30px);
    top: -10px;
  }
  50% {
    left: calc(100% - 30px);
    top: 100%;
  }
  75% {
    left: 0;
    top: 100%;
  }
  100% {
    left: 10%;
    top: -10px;
  }
}
.ex-13-button:hover .ex-13-bottom-white {
  animation: infFull 4s linear;
}
@keyframes infFull {
  0% {
    bottom: -10px;
    right: 20%;
  }
  25% {
    right: calc(100% - 30px);
    bottom: -10px;
  }
  50% {
    right: calc(100% - 30px);
    bottom: 100%;
  }
  75% {
    right: 0;
    bottom: 100%;
  }
  100% {
    bottom: -10px;
    right: 20%;
  }
}
